.baner {
  width: 1100px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 30px;
  
}

.imgBaner {
  width: 1100px;
  height: 400px;
  margin-top: 10px;
}

.dark {
  width: 1100px;
  height: 400px;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 87px;
  margin-top: 30px;
  border: solid 5px black;
}

.escrBaner {
  font-family: "Jockey One";
  color: white;
  position: absolute;
  top: 130px;
  font-size: 60px;
}